doctype html
html(lang="en")
  head
    title asdfsdf
    // build:css /assets/app.css.min
    link(rel="stylesheet", href="/assets/app.css")
    link(rel="stylesheet", href="/assets/test.css")
    // endbuild
  body
    block content

    // build:js /assets/app.js.min
    script(src="/assets/app.js")
    // endbuild